@using lab1.Models
@model Lista
@{
    ViewData["Title"] = "Planer";
}

@using (Html.BeginForm("DeleteSlot", "Home"))
{
    <input type="hidden" name="what" value=@Model.what >
    <input type="hidden" name="selectedItem" value=@Model.selectedItem >
    <input type="hidden" name="slotid" value=@Model.slotid >
    <p class="text-center">Czy usunąć te zajęcia z bazy?</p>
    <div class="center">
        <button name="todelete" class="btn btn-primary" type="submit" value="1">tak</button>
        <button name="todelete" class="btn btn-primary" type="submit" value="0">nie</button>
    </div>

}